  /* Container do conteúdo */
#conteudo {
  margin: 30px auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 22px;
  padding: 0 15px;
}

/* Cada card de curiosidade */
.curiosidade {
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: default;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito hover */
.curiosidade:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.15);
}


.curiosidade:hover {
  transform: translateY(-6px);
}

/* Imagem da curiosidade */
.curiosidade img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 14px;
}

/* Título */
.curiosidade h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #0d6efd;
  font-weight: 700;
  line-height: 1.2;
}

/* Texto */
.curiosidade p {
  font-size: 1rem;
  color: #000;
  line-height: 1.4;
  flex-grow: 1;
}
.curiosidade p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Para deixar o body com fundo escuro e fonte legal */
body {
  background-color: #ccc;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
input{
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  border: 1px solid #0b1c2d;
  border: none;
  background: #00b4f;
}
.rodape {
  background: #0b1c2d;
  color: #cfd8dc;
  padding: 40px 20px;
  margin-top: 40px;
}

.rodape-conteudo {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.rodape h3 {
  color: #00b4ff;
  margin-bottom: 10px;
}

.rodape p {
  font-size: 14px;
  margin-bottom: 20px;
}

.rodape-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.rodape-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.rodape-links a:hover {
  color: #00b4ff;
}

.rodape span {
  font-size: 12px;
  opacity: 0.7;
}
.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.curiosidade {
  cursor: pointer;
}