.quiz-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 350px;
  text-align: center;
}

#nivel {
  font-weight: bold;
  margin-bottom: 10px;
}

button.opcao {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
}

.barra {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  margin-top: 10px;
}

#progresso {
  height: 100%;
  width: 100%;
  background: #4caf50;
  border-radius: 5px;
}